<% content_for :title do %>Hot Wheels MPH<% end %>
<div class="gridster">
  <ul>
	<li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="mph" data-view="Number" data-title="Hot Wheels Car Speed" data-moreinfo="In MPH"></div>
    </li>
  </ul>
</div>